.place {
  padding: 20px 0;
  &__info-box {
    padding: 0 15px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__tags {
    font-size: 18px;
    color: #888888;
    margin-bottom: 10px;
  }
  &__vicinity {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__rating {
    font-size: 16px;
    margin-bottom: 10px;
  }
}